
<!DOCTYPE html><html><head><meta charset="utf-8"/>

  
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
  
    <title>Calculadora de Salario</title>
  
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet"/>
    <style>
      
      .footer_section {
        background-color: #6c46c4;
      }
    </style>
  
    <style>
  
      .footer_section p {
        color: white;
      }
    </style>
     <style>
      
      .footer_section a {
        color: gold;
      }
    </style>
    
  
  </head>
  
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8">
              <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                  <span>
                    Ingenieria En Computacion
                  </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
  
  
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class=" slider_section ">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5 col-md-6">
                    <div class="slider_detail-box">
                      <h1>
                        Bienvenido <br/>
                        En esta pagina podras calcular  <br/>
                        tu salario:
                      </h1>
                      <p>
                        En esta pagina podras consultar cual es tu salario con respecto a los meses que has Trabajado.


                      </p>
                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <img src="../static/images/slider-img.png" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
  
        </div>
      </section>
      <!-- end slider section -->
    </div>
  
    <!-- welcome section -->
    <section class="welcome_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h2>
            Calculadora de Salario
          </h2>
        </div>
        <div class="layout_padding2">
  
          <div class="detail-box">
            <h1>Calculadora de Aguinaldo</h1>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <form method="post">
                <label for="salario_diario">Salario Diario (sin el signo de $):</label>
                <input type="number" step="0.01" name="salario_diario" required>
                <br>
                <label for="meses_trabajados">Meses Trabajados:</label>
                <input type="number" name="meses_trabajados" required>
                <br>
                <button type="submit">Calcular Aguinaldo</button>
                
          </div>
        </div>
  
      </div>
    </section>
    <!-- end welcome section -->
  
    
    
  
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p>
          © 2019 All Rights Reserved By
          <a href="https://github.com/dashboard">Calculadora de Salario</a>
        </p>
      </section>
      <!-- footer section -->
    </div>
  
  
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  
  
  
  </body></html>
